/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run . -profile test,docker --outdir results_test

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '4.GB',
        time: '1.h'
    ]

    withName: 'COMPUTATIONALWORKFLOWS_RNASEQ:RNASEQ:STAR_GENOMEGENERATE' {
        cpus = 2
        memory = '4.GB'
        ext.args = '--genomeSAindexNbases 10 --sjdbOverhang 100'
    }

    withName: 'COMPUTATIONALWORKFLOWS_RNASEQ:RNASEQ:STAR_ALIGN' {
        cpus = 2
        memory = '4.GB'
    }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Three paired-end yeast samples to test the complete RNA-seq pipeline'

    // Input data
    input = "${projectDir}/assets/samplesheet_test.csv"

    // Genome references
    genome = 'R64-1-1'
    igenomes_ignore = true

    fasta = 'https://ngi-igenomes.s3.amazonaws.com/igenomes/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/WholeGenomeFasta/genome.fa'

    gtf = 'https://ngi-igenomes.s3.amazonaws.com/igenomes/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Annotation/Genes/genes.gtf'
}

// Limit the number of concurrent local tasks
executor {
    queueSize = 2
}